<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.digitalhomeland.expenses">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name="com.digitalhomeland.expenses.DashboardActivity" >

        </activity>
        <activity android:name="com.digitalhomeland.expenses.LandingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.digitalhomeland.expenses.SignupActivity" />
        <activity android:name="com.digitalhomeland.expenses.UnapprovedView" />
        <activity android:name="com.digitalhomeland.expenses.EmployeeApproval" />
        <activity android:name="com.digitalhomeland.expenses.TeamView" />
        <activity android:name="com.digitalhomeland.expenses.EditTeam">

        </activity>
    </application>

</manifest>